html,body
{
	font-family: "Comic Sans MS","Trebuchet MS",Arial,Verdana,sans-serif;
	/*sur les polices j'en mets plusieurs pour que le navigateur cherche la suivante s'il ne trouve pas la première
	par ailleurs, j'ai mis des guillemets autour des polices qui contiennent une espace dans leur nom*/
	background:url("../images/grey-370125_1280.png");
	background-size: cover;
	margin:0px;
	padding:0px;
	color:black;
}
body{
	padding:15px;
	color:rgb(10,20,25);
}
header{
	margin:2px;
	margin-bottom:10px;
	text-align:center;
	background-color:rgba(200,100,100,0.4);
	border-top:2px solid rgb(255,100,100);
	border-left:2px solid rgb(255,150,150);
	border-radius:10px;
	box-shadow:6px 6px 2px rgb(200,100,100);
}
h1{
	background: border-box rgba(200,0,30,0.7);
	border-radius: 7px;
	padding-left: 10px;
	font-style:italic;
	font-weight: bold;
	text-transform:uppercase;
}
h2{
	border-radius:7px;
	box-shadow: -5px 5px teal;
	background-color: rgba(20,10,120,0.5);
}
h3{
	text-shadow: 2px 2px #558ABB;
}
header > h2{
	font-family:Liberation Serif,sans-serif;
	font-size:4em;
	font-weight:normal;
	margin-top:0px;
	box-shadow: none;
	background-color: transparent;
}
.codePython{
	/*Utilisé pour tout code python*/
	background-color: white;
	border: dashed black 1px;
	margin-left:7px;
	margin-right: 7px;
	padding-left: 2px;
	padding-right: 2px;
}
.motCle{
	/*Je mets en bleu les mots clés en python*/
	color:blue;
}
#diaporama{
	text-align:center;
	width=50%;
}



/**************************************************************************
Pour le bandeau de navigation
J'ai trouvé ça ici :
https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/
*************************************************************************/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: left;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 2px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 2px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
